[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
CN = postman-insights-webhook.postman-insights.svc
[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt
[alt]
DNS.1 = postman-insights-webhook
DNS.2 = postman-insights-webhook.postman-insights
DNS.3 = postman-insights-webhook.postman-insights.svc
DNS.4 = postman-insights-webhook.postman-insights.svc.cluster.local
