[Unit]
Description=Postman Insights Agent
Wants=network-online.target
After=network-online.target NetworkManager.service systemd-resolved.service

[Service]
EnvironmentFile=/etc/default/postman-insights-agent
# DO NOT CHANGE
# "${FOO}" uses the argument as is, while "$FOO" splits the string on white space 
# Reference: https://www.freedesktop.org/software/systemd/man/systemd.service.html#Command%20lines
ExecStart={{.AgentInstallPath}} apidump {{.ModeArgs}} --interfaces "${INTERFACES}" --filter "${FILTER}" {{.ExtraApidumpArgs}} $EXTRA_APIDUMP_ARGS

# CPU resource controls
CPUWeight=90
CPUQuota=50%

# Memory resource controls
MemoryHigh=750M
MemoryMax=1G

# Restart on OOMs
Restart=on-failure
RestartSec=10s


[Install]
WantedBy=multi-user.target
