[Unit]
Description=Postman Insights Agent
Wants=network-online.target
After=network-online.target NetworkManager.service systemd-resolved.service

[Service]
EnvironmentFile=/etc/default/postman-insights-agent
# DO NOT CHANGE
# "${FOO}" uses the argument as is, while "$FOO" splits the string on white space 
# Reference: https://www.freedesktop.org/software/systemd/man/systemd.service.html#Command%20lines
ExecStart={{.AgentInstallPath}} apidump --project "${PROJECT_ID}" --interfaces "${INTERFACES}" --filter "${FILTER}" {{.ExtraApidumpArgs}} $EXTRA_APIDUMP_ARGS

# CPU resource controls
CPUWeight=90       # lower relative CPU priority; default is 100. In case of contention main process will be prioritized.
CPUQuota=85%       # aboslute CPU time limit (85% of CPU core). Process won't be able to take advantage of multi core.

# Memory resource controls
MemoryHigh=750M    # requested limit
MemoryMax=1G       # hard limit that triggers OOM kill if exceeded

# Restart on OOMs
Restart=on-failure
RestartSec=10s


[Install]
WantedBy=multi-user.target
